/* @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --main: #ff0000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

*::selection{
    background: var(--main);
    color: #fff;
}

body{
    background: #000;
    color: #fff;
}

section {
    padding-inline: 200px;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: var(--main);
}

::-webkit-scrollbar-track{
    background: #ccc;
}